pts-contract/PointsService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--

  WSDL contract for ForkExec Points.

  This WSDL defines the operations provided by the Web Service, and should not be modified.
  For more information, see sections
  wsdl:service, wsdl:portType, wsdl:types and wsdl:binding below
-->
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.pts.forkexec.com/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PointsService" targetNamespace="http://ws.pts.forkexec.com/">

  <!--  XML Schema Definition (XSD) of data types. -->
  <types>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://ws.pts.forkexec.com/" version="1.0">
      <xs:element name="BadInitFault" type="tns:BadInitFault" />
      <xs:element name="ctrlClear" type="tns:ctrlClear" />
      <xs:element name="ctrlClearResponse" type="tns:ctrlClearResponse" />
      <xs:element name="ctrlInit" type="tns:ctrlInit" />
      <xs:element name="ctrlInitResponse" type="tns:ctrlInitResponse" />
      <xs:element name="ctrlPing" type="tns:ctrlPing" />
      <xs:element name="ctrlPingResponse" type="tns:ctrlPingResponse" />
      <xs:element name="pointsRead" type="tns:pointsRead" />
      <xs:element name="pointsReadResponse" type="tns:pointsReadResponse" />
      <xs:element name="pointsWrite" type="tns:pointsWrite" />
      <xs:element name="pointsWriteResponse" type="tns:pointsWriteResponse" />
      <xs:complexType name="ctrlClear">
        <xs:sequence />
      </xs:complexType>
      <xs:complexType name="ctrlClearResponse">
        <xs:sequence />
      </xs:complexType>
      <xs:complexType name="ctrlPing">
        <xs:sequence>
          <xs:element minOccurs="0" name="input" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ctrlPingResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ctrlInit">
        <xs:sequence>
          <xs:element name="startPoints" type="xs:int" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ctrlInitResponse">
        <xs:sequence />
      </xs:complexType>
      <xs:complexType name="BadInitFault">
        <xs:sequence>
          <xs:element minOccurs="0" name="message" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="pointsRead">
      	<xs:sequence>
      		<xs:element minOccurs="0" name="userEmail" type="xs:string" />
      	</xs:sequence>
      </xs:complexType>
       <xs:complexType name="pointsReadResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:balance" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="balance">
      	<xs:sequence>
      		<xs:element minOccurs="0" name="points" type="xs:int" />
      		<xs:element minOccurs="0" name="tag" type="xs:long" />
      	</xs:sequence>
      </xs:complexType>
       <xs:complexType name="pointsWrite">
      	<xs:sequence>
      		<xs:element minOccurs="0" name="userEmail" type="xs:string" />
      		<xs:element minOccurs="0" name="pointsVal" type="xs:int" />
      		<xs:element minOccurs="0" name="tag" type="xs:long" />
      	</xs:sequence>
      </xs:complexType>
      <xs:complexType name="pointsWriteResponse">
        <xs:sequence>
        </xs:sequence>
      </xs:complexType>

    </xs:schema>
  </types>

  <!--  Messages use elements defined in the schema. -->
  <message name="ctrlPing">
    <part element="tns:ctrlPing" name="parameters" />
  </message>
  <message name="ctrlPingResponse">
    <part element="tns:ctrlPingResponse" name="parameters" />
  </message>
  <message name="ctrlInit">
    <part element="tns:ctrlInit" name="parameters" />
  </message>
  <message name="ctrlInitResponse">
    <part element="tns:ctrlInitResponse" name="parameters" />
  </message>
  <message name="BadInitFault">
    <part element="tns:BadInitFault" name="fault" />
  </message>
  <message name="ctrlClear">
    <part element="tns:ctrlClear" name="parameters" />
  </message>
  <message name="ctrlClearResponse">
    <part element="tns:ctrlClearResponse" name="parameters" />
  </message>
   <message name="pointsRead">
    <part element="tns:pointsRead" name="parameters" />
  </message>
  <message name="pointsReadResponse">
    <part element="tns:pointsReadResponse" name="parameters" />
  </message>

  <message name="pointsWrite">
    <part element="tns:pointsWrite" name="parameters" />
  </message>
  <message name="pointsWriteResponse">
    <part element="tns:pointsWriteResponse" name="parameters" />
  </message>

  <!--  Port type (interface). -->
  <!--  Each operation has input, output and fault messages. -->
  <portType name="PointsPortType">
  	<operation name="pointsRead">
  			<input message="tns:pointsRead" wsam:Action="http://ws.pts.forkexec.com/
  				PointsPortType/pointsRead" />
  			<output message="tns:pointsReadResponse"
  				wsam:Action="http://ws.pts.forkexec.com/PointsPortType/pointsReadResponse"/>

  	</operation>
  	<operation name="pointsWrite">
  			<input message="tns:pointsWrite" wsam:Action="http://ws.pts.forkexec.com/
  				PointsPortType/pointsWrite" />
  			<output message="tns:pointsWriteResponse"
  				wsam:Action="http://ws.pts.forkexec.com/PointsPortType/pointsWriteResponse"/>

  	</operation>

    <operation name="ctrlPing">
      <input message="tns:ctrlPing" wsam:Action="http://ws.pts.forkexec.com/PointsPortType/ctrlPingRequest" />
      <output message="tns:ctrlPingResponse" wsam:Action="http://ws.pts.forkexec.com/PointsPortType/ctrlPingResponse" />
    </operation>
    <operation name="ctrlInit">
      <input message="tns:ctrlInit" wsam:Action="http://ws.pts.forkexec.com/PointsPortType/ctrlInitRequest" />
      <output message="tns:ctrlInitResponse" wsam:Action="http://ws.pts.forkexec.com/PointsPortType/ctrlInitResponse" />
      <fault message="tns:BadInitFault" name="BadInitFault" wsam:Action="http://ws.pts.forkexec.com/PointsPortType/ctrlInit/Fault/BadInitFault" />
    </operation>
    <operation name="ctrlClear">
      <input message="tns:ctrlClear" wsam:Action="http://ws.pts.forkexec.com/PointsPortType/ctrlClearRequest" />
      <output message="tns:ctrlClearResponse" wsam:Action="http://ws.pts.forkexec.com/PointsPortType/ctrlClearResponse" />
    </operation>
    
  </portType>

  <!--  Binding defines the actual technologies to use. -->
  <binding name="PointsPortBinding" type="tns:PointsPortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />

    <operation name="pointsRead">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>

     <operation name="pointsWrite">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>

    <operation name="ctrlPing">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    
   
    <operation name="ctrlInit">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="BadInitFault">
        <soap:fault name="BadInitFault" use="literal" />
      </fault>
    </operation>
    <operation name="ctrlClear">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>

  <!--  Service defines ports. -->
  <!--  Each port is an abstract port type, made concrete by a binding. -->
  <service name="PointsService">
    <port binding="tns:PointsPortBinding" name="PointsPort">
      <soap:address location="http://forkexec.com:8091/points" />
    </port>
  </service>
</definitions>
